/*Cookie templates*/
.pn-cookies-manager-cookie-wrapper{
    padding:50px;
    max-width:1200px;
    margin:auto;
}
#pn-cookies-manager-popup-player{
    width:800px;
}
.pn-cookies-manager-carousel{
    max-width:500px;
    margin:auto;
}
.pn-cookies-manager-bordered{
    border:4px solid;
}
.pn-cookies-manager-icon-new{
    font-size:225px!important;
    padding:50px 0;
}